*.o
*.hi
.*swp
*.bc
dist/*
unicorn-tests/*.pdf
unicorn-tests/*.dot
mkDot
tests/OffloadTest
tests/*.dot
tests/*.pdf
core.*
opt-graphs
tests/lpg*.pdf
tests/lpg*.dot
tests/prg*.pdf
tests/prg*.dot
tests/emb*.pdf
tests/emb*.dot
*.p_o
*.p_hi
*.prof
out/
